* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --glow-color: rgb(209, 231, 101);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-box: rgba(154, 172, 156, 0.777);
}

body {
  margin: 0;

  background: -moz-radial-gradient(
    ellipse at 50% 50%,
    rgba(247, 244, 244, 1) 0%,
    rgba(205, 212, 213, 1) 58%,
    rgba(125, 147, 123, 0.48) 100%
  );

  background: -webkit-radial-gradient(
    ellipse at 50% 50%,
    rgba(247, 244, 244, 1) 0%,
    rgba(205, 212, 213, 1) 58%,
    rgba(125, 147, 123, 0.48) 100%
  );

  background: -o-radial-gradient(
    ellipse at 50% 50%,
    rgba(247, 244, 244, 1) 0%,
    rgba(205, 212, 213, 1) 58%,
    rgba(125, 147, 123, 0.48) 100%
  );

  background: -ms-radial-gradient(
    ellipse at 50% 50%,
    rgba(247, 244, 244, 1) 0%,
    rgba(205, 212, 213, 1) 58%,
    rgba(125, 147, 123, 0.48) 100%
  );

  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(247, 244, 244, 1) 0%,
    rgba(205, 212, 213, 1) 58%,
    rgba(125, 147, 123, 0.48) 100%
  );
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
